body{
    text-align: center;
}
#background{
    background-color: grey;
    margin-left: 50px;
    margin-right: 50px;
}
.desk{
    border-radius: 50%;
    margin-right: 20px;
}
.graphic{
    border-radius: 50%;
    margin-right: 20px;
}
.person{
    border-radius: 50%;
}